In [8]:
import math
import pandas as pd

In [6]:
def binary_search(A, T):
    L = 0
    R = len(A) - 1
    while L <= R:
        # or m = L + (R - L) // 2
        m = (L + R) // 2
        if A[m] < T:
            L = m + 1
        elif A[m] > T:
            R = m - 1
        else:
            return m
    return -1

binary_search([1, 3, 5, 7, 9], 3)

1

## Fewest comparison version

In [69]:
# Comparison count
def binary_search(A, T):
    L = 0
    R = len(A) - 1
    count = 0
    while L <= R:
        m = (L + R) // 2
        if (count := count + 1) and A[m] < T:
            L = m + 1
        elif (count := count + 1) and A[m] > T:
            R = m - 1
        else:
            return m, count
    return -1, count

def count_test(f):
    for t in range(256):
        if binary_search(list(range(256)), t)[0] != t:
            raise

    df = pd.DataFrame([binary_search(list(range(256)), t)[1] for t in range(256)], columns=['count'])
    display(df.describe())
    
count_test(binary_search)
print(f'max: {2 * math.log2(256)}')

            count
count  256.000000
mean    11.042969
std      2.333496
min      2.000000
25%     10.000000
50%     11.000000
75%     13.000000
max     16.000000

max: 16.0

In [70]:
def binary_search(A, T):
    L = 0
    R = len(A) - 1
    count = 0
    while L <= R:
        m = (L + R) // 2
        if (count := count + 1) and A[m] <= T:
            if L != m:
                L = m
            else:
                if (count := count + 1) and A[m] == T:
                    return m, count
                else:
                    L = m + 1
        else:
            R = m - 1
    return -1, count

#binary_search([1,3,5,7,9], 3)
count_test(binary_search)

            count
count  256.000000
mean    10.167969
std      1.069684
min      9.000000
25%      9.000000
50%     10.000000
75%     11.000000
max     12.000000

In [114]:
def binary_search(A, T):
    result = 0
    count = 0
    for k in reversed(range(math.ceil(math.log2(len(A))))):
        i = result + 2**k
        if i < len(A) and (count := count + 1) and T >= A[i]:
            result = i
    return result, count
    
    if T == A[result]:
        return result, count
    else:
        return -1, count

#binary_search([1,3,5,7,9], 3)
count_test(binary_search)
print(f'8 / 11.04 = {8/11.04*100 :.1f}%')
print(f'9 / 11.04 = {9/11.04*100 :.1f}%')

       count
count  256.0
mean     8.0
std      0.0
min      8.0
25%      8.0
50%      8.0
75%      8.0
max      8.0

8 / 11.04 = 72.5%
9 / 11.04 = 81.5%

In [113]:
def binary_search(A, T):
    L = 0
    R = len(A) - 1
    count = 0
    while L < R:
        m = (L + R) // 2
        if (count := count + 1) and A[m] < T:
            L = m + 1
        else:
            R = m
    return L, count

#binary_search([1,3,5,7,9], 3)
count_test(binary_search)

       count
count  256.0
mean     8.0
std      0.0
min      8.0
25%      8.0
50%      8.0
75%      8.0
max      8.0

In [105]:
class unknown:
    def __init__(self, v):
        self.v = v

    def __ge__(self, other):
        return self.v >= other

def binary_search(T):
    result = 0
    for k in reversed(range(8)):
        i = result + (1 << k)
        if T >= i:  # 8 comparison in total
            result = i
    return result

binary_search(unknown(15))

15